@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* font used is Rajdhani */

/* Colors 

White smoke: #f5f5f5
Silver: #b1b1b1
red: #ed1d24
Jet: #313131
Eerie black: #191919



*/


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.dots {
    /* width: 240px;
    height: 240px; */
    background-color: #b1b1b1;
    background-image: radial-gradient(#313131 2px, transparent 0);

    background-size: 40px 40px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}

body {
    position: relative;
    z-index: 0;
    font-family: Rajdhani, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}

.st0 {
    fill: #ed1d24;
}

.st1 {
    fill: #000000;
}



#logo {
    width: 150px;
}


.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/* ------------------------------------------ */
.split {
    height: 100%;
    width: 100%;
    opacity: .9;
}

.left-split {

    background-color: #ffffff;

}

.right-split {
    background-color: #ed1d24;

}





.split-background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0;
    /* width: 100%; */
    height: 170px;
}

.main-split {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    margin-top: 170px;
    height: 70vh;
}

#header {
    /* position: absolute; */
    /* z-index: 1; */
    top: 0;
    width: 100vw;


}

.header-container {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    /* max-width: 1400px; */
}

.header-container>div {
    padding: 32px 32px;

}

.logo-container {
    width: 50%;
}





.nav-menu {

    font-size: 200%;
    font-weight: 700;
    padding: 0;

}

.right-nav-container {
    width: 100%;
}

#right-nav-menu {


    justify-content: left;
}

.left-nav-container {
    width: 50%;
}



#left-nav-menu {
    align-content: space-between;
    justify-content: right;
}

.nav-menu li {
    padding: 0 32px;

    list-style-type: none;
}




.nav-menu a {
    padding: 12px 24px;
    /* border: solid 1px #31313100; */
    /* text-align: center; */
    text-transform: uppercase;
}

#left-nav-menu a {
    color: #000000;
}

.nav-menu a:hover {
    /* background-color: #ed1d24; */
    /* padding: 12px 24px; */
    border-radius: 5px;
    /* border: solid 1px #313131; */
    /* color: #ffffff; */
    box-shadow: inset 2px 2px 6px #0000008f
}

#right-nav-menu a:hover {
    background-color: #ffffff;
    color: #000000;
}

#left-nav-menu a:hover {
    background-color: #ed1d24;
    color: #ffffff;
}








/* ---------------altirnative  hover ------------------------------------------------ */
/* .nav-menu a {
    padding: 12px 12px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    padding-bottom: 5px;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 25%;

    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



#left-nav-menu a::after {
    background-color: #ed1d24;
}

#right-nav-menu a::after {
    background-color: #ffffff;
}

#left-nav-menu a {
    color: #000000;
}

#right-nav-menu a {
    color: #ffffff;
}
 */

/* ----------------------------------------------------------------------------- */






#main-sec {
    margin-top: 200px;
    color: #000000;
    position: absolute;
    top: 0;
    z-index: 5;
    /* margin-bottom: 100px; */

}

.back-logo-container {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    padding: 2vh 0 0 0;
    flex-direction: column;
    justify-content: start;

}

.back-logo-container>div {
    max-width: 1400px;
    /* padding: 5vh; */
    width: 70%;
    opacity: .5;
}

.back-logo {
    width: 100%;
}


footer {


    position: absolute;
    z-index: 3;
    top: 86vh;
    right: 0;
    left: 0;
    height: 14vh;
    /* margin-top: 900px; */
    background-color: #f5f5f5;
    /* visibility: hidden; */
}


/* _______________________________________________________ */


.footer-container {
    height: 100%;
}

.footer-container ul {
    justify-content: center;
    align-items: center;
    height: 100%;

}

img {

    width: 200px;
    /* margin: 12px 24px; */
}

.footer-link {

   
    padding: 12px 24px;

}




/* 
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

 */










/* 
#nav-menu {
    font-family: Inter, sans-serif;
    font-size: 120%;
    font-weight: 500;
    padding: 0;
}

#nav-menu li {
    list-style-type: none;
}

#nav-menu a {
    padding: 24px;
}

#nav-menu a:hover {
    background-color: #c44536;
    padding: 12px 24px;
    border-radius: 50px;
    color: #ffffff;
}
 */














/* 
a {
    text-decoration: none;
    color: #39312d;
}

h1,
h2,
h3 {
    font-family: Fraunces, sans-serif;
}

main h1,
main h2,
main h3 {
    font-weight: 600;
}

main h1 {
    font-size: 55px;
    margin-bottom: 18px;
}

main h2 {
    font-size: 38px;
    margin-bottom: 24px;
    letter-spacing: -1.5px;
}

main h3 {
    font-size: 24px;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
}

p {
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 20px;
}

hr {
    margin: auto;
    border-top: #e0e0e0 solid 1px;
    width: 100%;
}

.button {

    font-size: 120%;
    font-weight: 500;
    background-color: #c44536;
    padding: 12px 24px;
    border-radius: 50px;
    color: #ffffff;
}

.button:hover {
    background-color: #a63a2e;
    color: #ffffff;
}

.main-container {
    background-color: #ffffff;
    padding: 64px 0;
}

.sec-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
}


.base-image-container {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.base-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.base-image-container img:hover {
    transform: scale(1.1);
}

.base-image-caption {
    display: inline-block;
    margin-top: 20px;
}

h3.base-image-caption a:hover {
    color: #a63a2e;
} */