@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* font used is Rajdhani */

/* Colors 

White smoke: #f5f5f5
Silver: #b1b1b1
red: #ed1d24
Jet: #313131
Eerie black: #191919

*/

/* ---------------------------Defaults--------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}





body {
    position: relative;
    z-index: 0;
    font-family: Rajdhani, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}



li {
    list-style-type: none;
}


/* h1 {
    font-size: 55px;
    margin-bottom: 18px;
} */

h2 {
    font-size: 55px;
    margin-bottom: 24px;

}

h3 {
    font-size: 38px;
    margin-bottom: 12px;

}

p {
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 20px;
}

select {
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

option {

    font-weight: 500;

}



.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.hidden {
    visibility: hidden;
}

.background-dark {
    background-color: #191919e6;
    border: solid 5px #191919;
    border-radius: 10px;
}

.v-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.align-right {
    margin-left: auto;
}

.align-left {
    margin-right: auto;
}

/* ---------------------------Home Page-------------------------------------- */









/* ---------------------------Background------------------------------------- */

/* Split---------------------------- */
.split {
    height: 100%;
    width: 100%;
    opacity: .9;
}

.left-split {

    background-color: #ffffff;

}

.per-20 {
    width: 20%;
}

.per-80 {
    width: 80%;

}

.right-split {
    background-color: #ed1d24;
    width: 100%;

}

.split-background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0;
    /* width: 100%; */
    height: 170px;
}

.main-split {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 100vh; */
    z-index: 1;

    margin-top: 170px;
    height: 80vh;
}

/* Dots----------------------------- */
.dots {
    /* width: 240px;
    height: 240px; */
    background-color: #b1b1b1;
    background-image: radial-gradient(#313131 2px, transparent 0);

    background-size: 40px 40px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}

/* Backgroud Logo---------------------------- */
.back-logo-container {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    padding: 2vh 0 0 0;
    flex-direction: column;
    justify-content: start;

}

.back-logo-container>div {
    max-width: 1400px;
    /* padding: 5vh; */
    width: 70%;
    opacity: .5;
}

.back-logo {
    width: 100%;
}

/* ---------------------------Header----------------------------------------- */
#header {
    /* position: absolute; */
    /* z-index: 1; */
    top: 0;
    width: 100vw;


}

.header-container {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    /* max-width: 1400px; */
}

.header-container>div {
    padding: 32px 32px;

}

/* Logo----------------------------- */
#logo {
    width: 150px;
}

.main-logo-color-1 {
    fill: #ed1d24;
}

.main-logo-color-2 {
    fill: #000000;
}

.logo-container {
    width: 20%;
}

/* Nav Menu------------------------- */
.nav-menu {

    font-size: 200%;
    font-weight: 700;
    padding: 0;

}

.right-nav-container {
    width: 100%;
}

#right-nav-menu {


    justify-content: left;
}

.left-nav-container {
    width: 80%;
}



#left-nav-menu {
    align-content: space-between;
    justify-content: right;
}

.nav-menu li {
    padding: 0 32px;


}




.nav-menu a {
    padding: 12px 24px;
    text-transform: uppercase;
}

#right-nav-menu a {
    text-shadow: 1px 1px 10px #1919194d;
}

#left-nav-menu a {
    color: #191919;
}

.nav-menu a:hover {
    border-radius: 5px;
    box-shadow: inset 2px 2px 6px #19191999;
}

#right-nav-menu a:hover {
    background-color: #ffffff;
    color: #191919;
    text-shadow: none;
}

#left-nav-menu a:hover {
    background-color: #ed1d24;
    color: #ffffff;
    text-shadow: 1px 1px 10px #1919194d;
}


/* ---------------altirnative  hover ------------------------------------------------ */
/* .nav-menu a {
    padding: 12px 12px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    padding-bottom: 5px;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 25%;

    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



#left-nav-menu a::after {
    background-color: #ed1d24;
}

#right-nav-menu a::after {
    background-color: #ffffff;
}

#left-nav-menu a {
    color: #000000;
}

#right-nav-menu a {
    color: #ffffff;
} */


/* -------------------------------------------------------------------------- */

/* ---------------------------Main Section----------------------------------- */


/* ---------------------------Home------------------------------------------- */
#main-sec {
    /* visibility: hidden; */
    margin-top: 220px;
    /* color: #000000; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    /* margin-bottom: 100px; */
}

.utilities-container {
    padding: 64px;
    /* background-color: #313131cc;
    border: solid #313131 3px; */
    border-radius: 10px;
    width: 70%;
    max-width: 1400px;

    /* box-shadow: inset 15px, 10px, rgb(255, 255, 255); */
}

/* Info Block----------------------- */
.info-block-container {
    width: 100%;
    max-width: 1400px;
    padding: 0;
}

.info-block {
    padding: 0;
    width: 100%;
    justify-content: center;
}

.utilities-info {
    padding: 0 0 0 64px;
    color: #191919;

}

#links h3,
#paint h3 {
    color: #191919;
}

#specs h3,
#quiz h3 {
    text-shadow: 1px 1px 10px #1919194d;
}

.utilities-header {
    padding: 0 64px 0 0;
    color: #F5F5F5;
    text-shadow: 1px 1px 10px #1919194d;

}


/* Utilities------------------------- */

.cards-container {
    width: 100%;
    margin: 64px 0 32px 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 32px;
}

.card-container {
    flex-direction: column;
    padding: 0;
    transition: .5s ease;
    color: #ed1d2480;
}

.card-container:hover {
    transform: scale(1.1) translateY(-10px);
    color: #f31414;
}

.utility-card {
    padding: 25px 20px;
    border-radius: 15px;

}

.card-logo {
    font-size: 600%;
    padding: 20px;
    min-width: 180px;
    text-align: center;
    border: solid #313131 10px;

    background-color: #F5F5F5e6;
    border-radius: 15px;
    box-shadow: inset 0px 0px 25px #313131e6;

}

.card-logo i {
    color: inherit;

}

.utility-name {
    color: #F5F5F5;
    margin-top: 8px;
}

/* ---------------------------Specs------------------------------------------ */
#specs-sec {
    /* visibility: hidden; */
    /* margin-top: 200px; */
    color: #191919;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    z-index: 3;
    /* margin-bottom: 100px; */
}

/* #specs-sec>div {
    height: 70vh;
} */

.specs-container {
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    padding: 0;
}

.specs-header-container {
    background-color: #191919e6;
    border: solid 5px #191919;
    border-radius: 10px;
    padding: 16px 32px;
    width: 100%;
    min-width: 700px;
    margin-bottom: 16px;
}

.specs-header {
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.specs-header select {
    font-size: 28px;
    width: 20%;
    border-radius: 5px;
}


.specs-image-container {
    width: 60%;
    height: 50vh;
    min-height: 505px;
    min-width: 700px;
    background-color: #191919bf;
    border: solid 5px #191919;
    border-radius: 15px;
    overflow: hidden;


}

.specs-m-mark {
    padding: 0;
    height: 100%;

}

.specs-m-mark i {
    color: #19191980;
    font-size: 1500%;
    padding: 50px;
    text-align: center;


}

.specs-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.specs-main-info-container {
    align-items: flex-start;
    padding: 0;
}

.info-container {

    width: 40%;
    height: 50vh;
    /* height: 100%; */
    min-height: 505px;
    min-width: 350px;
    color: #ffffff;
    background-color: #191919e6;
    border: solid #191919 5px;
    border-radius: 15px;
    padding: 16px 24px;
    margin-left: 64px;

}

/* .info-container ul,
.info-container li {
    padding: 0;
} */

/* .info-container ul {
    flex-direction: column;


} */

.info-container>h2 {
    margin-bottom: 0;
    font-size: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(8, 1fr);

    /* column-gap: 32px; */
    /* row-gap: 1vh; */
}


.spec-name,
.spec-value {
    font-size: 200%;
    font-weight: 500;
    min-width: 150px;
    margin-bottom: 10px;
}

/* ---------------------------Quiz------------------------------------------- */
#quiz-sec {
    /* visibility: hidden; */
    /* margin-top: 200px; */
    color: #ffffff;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    z-index: 3;
    /* margin-bottom: 100px; */
}

.quiz-container {
    width: 100%;
    max-width: 1240px;
    flex-direction: column;
    padding: 0;
}

.quiz-header {
    width: 100%;
    padding: 0;
}

.quiz-header>div {
    width: 100%;

}

.quiz-header h3 {
    font-size: 32px;
    margin: 0;
}

.question-num-container {
    width: 50%;
    min-width: 300px;
    align-self: end;
    padding: 16px 32px;
    justify-self: start;

}


#question-num {
    /* font-size: 32px;
    margin: 0; */

}

.score-container h3 {
    /* font-size: 32px;
    margin: 0 0 0 32px; */
}

.score-container {
    width: 60%;
    min-width: 340px;
    padding: 16px 0;
    /* align-self: end; */
}

.correct-container,
.wrong-container {
    padding-left: 32px;
    width: 100%;
    text-align: left;
}

#correct-answers span {
    color: green;
}

#wrong-answers span {
    color: #ed1d24;
}

.quiz-body {
    flex-direction: column;
    min-height: 500px;
    padding: 0;
}

.answers-container {
    flex-direction: column;
    padding: 0;
}

.answers .flex-container {
    flex-direction: column;
    padding: 0;
}


.quiz-body {
    margin-top: 32px;

    width: 100%;
}

.question-area {
    width: 90%;
    text-align: center;

    margin-top: 32px;
    min-height: 200px;

    background-color: #F5F5F5e6;
    border: solid 3px #191919;
    border-radius: 10px;

}

.question-area>div {
    min-height: 200px;
}

#question {
    color: #191919;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    line-height: 50px;
}

.answers-main-container {
    margin-top: 16px;
    width: 100%;
}



.answers {
    padding: 0;
    width: 100%;
}

.answers div {
    width: 100%;
    justify-content: flex-start;
}

.answer {
    width: 100%;
    text-align: left;
    padding: 16px 32px;
    color: #191919;
    border: solid 3px #191919;
    border-radius: 25px;
    background-color: #F5F5F5;
    font-weight: 500;
    font-size: 30px;

}

.answer.correct {
    /* color: #F5F5F5; */
    background-color: #15fd00;
    box-shadow: inset 2px 2px 6px #19191999;

}

.answer.wrong {
    /* color: #F5F5F5; */
    background-color: #ff5353;
    box-shadow: inset 2px 2px 6px #19191999;

}

.answer:hover {
    cursor: pointer;
    color: #F5F5F5;
    box-shadow: inset 2px 2px 6px #19191999;
    background-color: #5353ff;

}



.answer-container {
    width: 90%;
}

.answer-container li {

    /* padding: 16px 0; */
    margin-bottom: 24px;
}


/* ---------------------------Paint Shop------------------------------------- */
#paint-sec {
    /* visibility: hidden; */
    /* margin-top: 200px; */
    color: #ffffff;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    z-index: 3;
    /* margin-bottom: 100px; */
}

.paint-main-container {
    width: 100%;
}

.paint-container {
    width: 100%;
    max-width: 1400px;
    min-height: 65vh;
    padding: 0;
    align-items: flex-start;
    /* background-color: #00000080; */

}

.paint-container>div {
    width: 100%;
    padding: 0;
}

.Paint-image-block {
    padding: 0;
    width: 70%;
    overflow: hidden;
    background-color: #191919;
    border: solid 6px #191919;
    border-radius: 10px;
}

.r1-f1-image-container {
    width: 33.5%;
    /* height: 100%; */
    padding: 0;
    flex-direction: column;
    /* align-items: flex-start; */

}



.paint-image-container {
    width: 100%;
}

.paint-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* borders-------------- */
.r1-image,
.f1-image {
    width: 100%;
    /* height: 100%; */
    border-left: solid #191919 3px;

}

.f1-image {
    border-bottom: solid #191919 3px;
}

.r1-image {
    border-top: solid #191919 3px;
}

.s1-image {
    border-right: solid #191919 3px;

}

.s1-image,
.f1-image,
.r1-image {
    position: relative;
    z-index: 3;
    width: 100%;
}

.overlay {

    /* visibility: hidden; */
    position: absolute;
    z-index: 7;
    mix-blend-mode: multiply;
    opacity: .5;
}


.stripe-color {
    padding-top: 3px;
    position: absolute;
    color: #ffffff;
    z-index: 6;
    mix-blend-mode: hard-light;
}

/* body color transparency always 80%------------ */
.body-color {
    padding-top: 3px;
    position: absolute;
    z-index: 5;
    mix-blend-mode: darken;
    color: #ff0000cc;

}

.paint-background-image {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    z-index: 4;
}

/* Position Correction------------- */
/* S1------------------- */
.s1-tank.body {
    padding-left: 2px;
}

.s1-guard.stripe-1 {
    padding: 7px 0 0 10px;

}

.s1-guard.stripe-2 {
    padding: 7px 0 20px 10px;
}

.s1-guard.body {
    padding: 7px 0 0 10px;
}

/* F1------------------- */
.f1-guard.body {
    padding-top: 4px;
}


/* Stripe Control TEMPO------------------ */
/* must be hidden on other pages IMPORTANT--------- */
/* 1------------- */
.f1-guard.stripe-1,
.s1-guard.stripe-1,
.r1-tank.stripe-1 {
    visibility: hidden;
}

/* 2------------- */
.f1-tank.stripe-2,
.f1-guard.stripe-2,
.s1-guard.stripe-2,
.s1-tank.stripe-2,
.s1-tail.stripe-2,
.r1-tank.stripe-2 {
    /* visibility: visible; */
}

/* dials and controls------------ */
.paint-controls-conatainer {
    margin-left: 30px;
    padding: 24px;
    background-color: #191919e6;
    border: solid 6px #191919;
    border-radius: 10px;
    width: 20%;
    min-width: 270px;
    /* height: 100%; */
}

.paint-controls-conatainer h3 {
    margin-bottom: 10px;
}

.picker-container {
    margin-bottom: 32px;
    padding: 0 20px;
    justify-content: space-between;
}

#controls label {
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

/* radio button style--------------- */
.stripe-input {

    accent-color: #ed1d24;

}

.stripe-input input {
    transform: scale(2.5);
    margin-bottom: 24px;
    vertical-align: 3px;
}

.stripe-input label {

    margin-left: 16px;

}

/* color picker style--------------- */
.color-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
}





.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
}

.color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 5px solid #191919;
}

.color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 5px solid #191919;
}

/* ---------------------------Links------------------------------------------ */
#links-sec {
    /* visibility: hidden; */
    /* margin-top: 200px; */
    color: #ffffff;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    z-index: 3;
    /* margin-bottom: 100px; */
}

.links-main-container {
    min-height: 60vh;
}


.links-container {
    width: 100%;

    flex-direction: column;
    padding: 0;
    max-width: 600px;
    margin-left: 5%;

}

.links-header {
    /* background-color: #191919e6;
    border: solid #191919 5px;
    border-radius: 15px; */
    padding: 5% 3%;
    text-align: center;
    margin-right: 5%;
    width: 100%;
    max-width: 600px;
    /* margin-bottom: 20%; */
    text-shadow: 1px 1px 10px #1919194d;
}


.links {
    font-size: 300%;
    font-weight: 700;
    /* padding: 32px 0; */
    margin: 32px.0;
    transition: .5s ease;
}

.links a {
    color: #191919;
    padding: 12px 24px;
    text-transform: uppercase;
}



.links a:hover {
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px #0000008f;
    background-color: #ed1d24;
    color: #ffffff;
    text-shadow: 1px 1px 10px #1919194d;

}

.links:hover {
    transform: scale(1.1) translateY(-10px);
}


/* 
.card-container {
    flex-direction: column;
    padding: 0;
    transition: .5s ease;
    color: #ed1d2480;
}

.card-container:hover {
    transform: scale(1.1) translateY(-10px);
    color: #f31414;
} */













/* 

.links a {
    color: #191919;
   


    padding: 12px 12px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}


.links a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 25%;

    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #ed1d24;
}

 */





/* 

 .nav-menu a {
    padding: 12px 12px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    padding-bottom: 5px;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 25%;

    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



#left-nav-menu a::after {
    background-color: #ed1d24;
} */








/* .links a:hover {
    background-color: #F5F5F5;
    border-radius: 5px;
    color: #191919;
    box-shadow: inset 2px 2px 6px #0000008f
} */

/* 
.nav-menu {

    font-size: 200%;
    font-weight: 700;
    padding: 0;

}
.nav-menu a {
    padding: 12px 24px;
    text-transform: uppercase;
}


.nav-menu a:hover {
    border-radius: 5px;
    box-shadow: inset 2px 2px 6px #0000008f
}

#right-nav-menu a:hover {
    background-color: #ffffff;
    color: #000000;
} */




/* ---------------------------Footer----------------------------------------- */

footer {


    position: absolute;
    z-index: 3;
    top: 86vh;
    right: 0;
    left: 0;
    height: 14vh;
    min-height: 60px;
    /* margin-top: 900px; */
    background-color: #f5f5f5;
    /* visibility: hidden; */
    box-shadow: 0px -2px 6px #00000019;
    border-top: solid #ffffff 2px;

}




.footer-container {
    height: 100%;
}

.footer-container ul {
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.footer-link {
    padding: 12px 24px;
}



.footer-logo {

    padding: 10px 10px 0 10px;
    width: 90%;
}

.footer-link a {
    color: #b1b1b1;
}

.footer-link a:hover {
    color: #3131317d;
}


























/* 
a {
    text-decoration: none;
    color: #39312d;
}

h1,
h2,
h3 {
    font-family: Fraunces, sans-serif;
}

main h1,
main h2,
main h3 {
    font-weight: 600;
}

main h1 {
    font-size: 55px;
    margin-bottom: 18px;
}

main h2 {
    font-size: 38px;
    margin-bottom: 24px;
    letter-spacing: -1.5px;
}

main h3 {
    font-size: 24px;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
}

p {
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 20px;
}

hr {
    margin: auto;
    border-top: #e0e0e0 solid 1px;
    width: 100%;
}

.button {

    font-size: 120%;
    font-weight: 500;
    background-color: #c44536;
    padding: 12px 24px;
    border-radius: 50px;
    color: #ffffff;
}

.button:hover {
    background-color: #a63a2e;
    color: #ffffff;
}

.main-container {
    background-color: #ffffff;
    padding: 64px 0;
}

.sec-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
}


.base-image-container {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.base-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.base-image-container img:hover {
    transform: scale(1.1);
}

.base-image-caption {
    display: inline-block;
    margin-top: 20px;
}

h3.base-image-caption a:hover {
    color: #a63a2e;
} */